<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>1999'dan bugüne kalitenin tek adresi!</h2>
        <p class="lead">Birbirinden iddialı araçlarımızla sizlere 1 günlük ücretsiz sürüş keyfi sunuyoruz 
          yapmanız gereken tek şey bize üye olmanız. >>
          <a target="_blank" href="http://join.deathtothestockphoto.com/">
          Üye Ol</a>.
        </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
